<nav>
  <div class="mynav">
    <a href="" id="logo"><img src="assets/logo.png" alt="" width="50"><span class="sr-only">(current)</span></a>
    <a href=""><img src="assets/home.png" alt="" width="30"> About us <span class="sr-only">(current)</span></a>
    <a href=""><img src="assets/signup.png" alt="" width="30"> Sign up  <span class="sr-only">(current)</span></a>
    <a href=""><img src="assets/login1.png" alt="" width="30"> Login <span class="sr-only">(current)</span></a>
    <a href=""><img src="assets/home.png" alt="" width="30"> About us <span class="sr-only">(current)</span></a>
  </div>  
</nav>